@import 'tailwindcss';

* {
  font-family: var(--font-jura), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}


.balloon {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 55px;
  border-radius: 50% 50% 50% 50%;
  background-color: red;
  animation: float-up 10s linear infinite;
  opacity: 0.8;
}

.balloon::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 2px;
  height: 20px;
  background: #555;
  transform: translateX(-50%);
}

/* Different colors */
.balloon-1 {
  background-color: #ff4d4f;
}
.balloon-2 {
  background-color: #ffa940;
}
.balloon-3 {
  background-color: #ffec3d;
}
.balloon-4 {
  background-color: #73d13d;
}
.balloon-5 {
  background-color: #40a9ff;
}
.balloon-6 {
  background-color: #9254de;
}

@keyframes float-up {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(0deg);
    opacity: 0;
  }
}
